.title{
  color:black;
  background-color:rgba(0, 0, 255, 0.322);
    margin: 0%;
    padding: 0%;
    border-radius: 5px;
    box-shadow: 0cap;
    align-items: center;

}
h1{
 transition: 0.4;
 align-items: center;


}


