h1{
    margin: bottom 25px;
    color:red;
    font-size:30px;
    text-align: center;
}
    
h2{
    margin-top:20px;
    color: rgb(0, 0, 0);
    font-size:25px;
    text-align:center;
}


p{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

hr{
    border: 2px solid black;
}
