img{
    width: 400px;
    height: 400px;
}
body{
    background-color: black;
    color: aliceblue;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}